<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387343426228-tqi6b0pp62umncm01htt1t2g1rv4pbfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387343426228-tqi6b0pp62umncm01htt1t2g1rv4pbfk</string>
	<key>API_KEY</key>
	<string>AIzaSyAvQ1B6jQ23KjPN39HqGCR0uBRWfnfb3lE</string>
	<key>GCM_SENDER_ID</key>
	<string>387343426228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keshwynannauth.Hawk</string>
	<key>PROJECT_ID</key>
	<string>hawk-43612</string>
	<key>STORAGE_BUCKET</key>
	<string>hawk-43612.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387343426228:ios:69dbc6b1cd50d798</string>
	<key>DATABASE_URL</key>
	<string>https://hawk-43612.firebaseio.com</string>
</dict>
</plist>